<header class="container rounded-pill bg-dark">
			<h1 class="text-white text-center">  Vehicule Ecommerce </h1>
		</header>
		<nav>
			<ul class="nav nav-pills">
                <li class="nav-item" onclick="" id="todos"><a class="nav-link" href="#">Products</a></li>

			</ul>
		</nav><br>
        <main class="container-fluid m-auto">
			<section class="row" style="height: 82vh">
				<section id="carrito" class="col-3 border border-primary mh-100 mw-100 overflow-auto">

                    <div class="d-flex align-content-end flex-column">
                        <button type="button" class="btn btn-outline-success d-none" data-bs-toggle="modal" data-bs-target="#myModal">Completar compra</button>
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                              <div class="modal-content">
                              
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Example <b>CaC</b></h4>
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <!-- Modal body -->
                                <div class="modal-body">
                                  
                                </div>
                                
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                    </div>
				</section>
				<section class="col-9 border border-primary mh-100 mw-100 overflow-auto">
                    <div class="container">
                        <div id="lista" class="row p-1">
                        
                         {{#each products}}

                            <div class="col-3" id="{{this.category}}">
                                <div class="card m-1">
                                    <img src= {{this.thumbnail}} class="h-75 card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.title}}</h5>
                                        <h6 class="card-subtitle">${{this.price}}</h6>
                                        <p class="card-text ">{{this.description}}</p>
                                        <a href="#" class="btn btn-primary" onclick="">Add</a>
                                    </div>
                                </div>
                            </div>

                            {{/each}}

                        </div> 
                    </div>
				</section>
			</section>
		</main>
	
  
